SYLVIA_IOT_AUTH_URL=http://localhost:1080/auth
SYLVIA_IOT_COREMGR_URL=http://localhost:1080/coremgr
SYLVIA_IOT_DATA_URL=http://localhost:1080/data
SYLVIA_IOT_CLIENT_ID=your-client-id
SYLVIA_IOT_CLIENT_SECRET=your-client-secret
